body,
.wrapper {
  min-height: 100vh;
  position: relative;
}

.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}

.bg-white {
  .admin & {
    border-bottom: 1px solid #cccccc;
    box-shadow: none;
  }
}

.admin {
  h4 {
    margin-top: 0px;
  }
}

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 1;
  color: #fff;
  font-weight: 200;
  background-size: cover;
  background-position: center center;

  .logo-wrapper {
    background-color: #00e3cb;
    height: 62px;
    text-align: center;
    padding: 10px;

    img {
      width: 76px;
    }
  }

}
.sidebar .sidebar-wrapper {
  position: relative;
  max-height: calc(100vh - 75px);
  min-height: 100%;
  overflow: auto;
  width: 260px;
  z-index: 4;
  padding-bottom: 75px;
}

.sidebar-wrapper {
  background-color: #f3f3f3;
}

.sidebar .sidebar-wrapper .dropdown .dropdown-backdrop {
  display: none !important;
}
.sidebar {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
}

.sidebar .nav {
  margin-top: 40px;
  float: none;
  display: block;

  p {
    line-height: 30px;
    margin-bottom: 0px;
  }

  li > a {
    color: #bcbbbb;
    margin: 10px 15px;
    //opacity: .86;
    border-radius: 4px;
    display: block;

    line-height: 30px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }

  li:hover > a {
    background: black;
    opacity: 0.15;
    color: #ffffff;
  }

  li.active > a {
    color: #FFFFFF;
    opacity: 1;
    background: #b74b23;
  }

  li a.dropdown-toggle {
    background-color: transparent;
    outline: none;
  }

  i {
    font-size: 28px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
  }
}

.main-panel {
  position: relative;
  z-index: 2;
  float: right;
  width: calc(100% - 260px);
  min-height: 100%;
  overflow: auto;
  box-shadow: 0px 0px 70px 0px rgba(0,0,0,0.25);
}

.main-panel .main-content {
  padding: 30px 15px;
  min-height: calc(100% - 123px);
}
.main-panel > .footer {
  border-top: 1px solid #e7e7e7;
}
.main-panel .navbar {
  margin-bottom: 0;
}

.sidebar,
.main-panel,
.sidebar-wrapper,
.navbar-cmp-fixed .navbar {
  -webkit-transition-property: top,bottom,width;
  transition-property: top,bottom, width;
  -webkit-transition-duration: .2s,.2s, .35s;
  transition-duration: .2s,.2s, .35s;
  -webkit-transition-timing-function: linear,linear,ease;
  transition-timing-function: linear,linear,ease;
  -webkit-overflow-scrolling: touch;
}

.main-panel {
  max-height: 100%;
  height: 100%;
}

#loader {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  text-align: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  top: 50%;
}

@media (max-width: 991px) {
  .main-panel {
    width: 100%;
  }
}

.small-image {
  height: 20px;
}
