.footer {
  padding: 24px 0;

  .snowtribe & {
    position: absolute;
    bottom: 0px;
    margin: auto;
    width: 100%;
  }

  &.footer-default {
    background-color: #f2f2f2;
  }

  nav {
    display: inline-block;
  }


  ul {
    /*  margin-bottom: 0;
      list-style: none;*/
    padding: 0;

    li {
      display: inline-block;

      a {
        color: inherit;
        padding: $padding-base-vertical;
        font-size: $font-size-small;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
          text-decoration: none;
          color: $primary-color;
        }
      }
    }
  }

  .copyright {
    font-size: $font-size-small;
  }

  &:after {
    display: table;
    clear: both;
    content: " ";
  }
}
