p, ul, li {
  color: $text-color;
}

h2 {
  color: $header-color;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.static-page {
  padding-top: 100px;
}

.criteria-label {
  font-weight: bold;
  padding: 10px 15px;
  text-transform: uppercase;
}

.criteria-selected-label {
  font-weight: bold;
  padding: 8px 15px;
  text-transform: uppercase;
}

.criteria-selected {
  padding: 8px 0px;
}

.header-section {
  margin-top: 80px;
}

.criteria {
  .btn {
    margin-right: 5px;
  }
}

.details {
  margin-top: 100px;
}

.line {
  border-top: 1px solid $line-color;
  margin-top: $margin-bottom;
  margin-bottom: $margin-bottom;
}

.offer-image {
  border-right: 1px solid $line-color;
}

.offer-dates {
  color: #000;
}

.row-offer {
  height: 80px;
}

.offer-title {
  font-size: 24px;
  font-weight: bold;
  color: $black;
}

.card.partner {
  //order: 2px solid $primary-color;
}

.partner-label {
  color: #ffffff;
  width: 180px;
  height: 20px;
  background-color: $primary-color;
  font-weight: 800;
  letter-spacing: 3px;
  position: absolute;
  top: 7px;
  margin: auto;
  left: -55px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);

  &.resort {
    width: 300px;
  }

  &.straight {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    position: relative;
    margin-top: 10px;
    top: 0px;
    left: 0px;
  }
}

.partner-label-right {
  color: #ffffff;
  width: 180px;
  font-size: 14px;
  background-color: #00e3cb;
  font-weight: 800;
  letter-spacing: 2px;
  position: absolute;
  top: 32px;
  margin: auto;
  right: -52px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  text-align: center;
}

.company-logo {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;

  img {
    max-height: 100%;
  }
}

.event-company-logo {
  img {
    max-height: 100px;
  }
}

.offer-place {
  color: $primary-color;
  text-transform: uppercase;
}

.offer-features {
  font-size: $font-size-small;
  color: $line-color;

  .icon {
    fill: $green-color;
    height: 21px;
    margin-left: 10px;

  }
}

.offer-price {
  color: $success-color;
  fill: $primary-color;
  font-size: 23px;
  font-weight: bold;
  line-height: 27px;

  .icon {
    width: 22px
  }

  .now-ui-icons {
    color: $primary-color;
    font-size: 18px;
  }
}

.badge-promo {
  font-size: 14px;
  background-color: #f05440;
  color: #ffffff;
}

.offer-price-old {
  text-decoration: line-through;
  color: rgb(193, 158, 145);
  font-size: 16px;
}

.offer-arrow {
  font-size: 50px;
  font-weight: 100;
  color: $primary-color;
}

.event-title {
  font-size: 40px;
}

.resort-title {
  font-size: 40px;

  .icon {
    height: 50px;
  }
}

.event-place {
  font-size: 25px;
  color: $primary-color;
}

.event-calendar {
  font-size: 18px;
  color: $green-color;
  fill: $green-color;
}

.event-transport {
  .now-ui-icons {
    font-size: 24px;
    margin-left: 20px;
  }
  margin-top: 20px;
  margin-bottom: 20px;
}

.event-features {
  margin-top: 20px;
  margin-bottom: 20px;

  .btn-primary {
    fill: $white-color;
  }
}

.event-sections {
  margin-top: 20px;
  @media (min-width: 991px) {
    .left-section {
      padding-right: 35px;
    }
    .right-section {
      padding-left: 35px;
    }
  }
  .carousel {
    margin-bottom: 25px;
  }
}

.carousel-item img {
    width: auto;
    height: 225px;
    max-height: 225px;
}

.header {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 300;
}
.subheader {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
}


@media (max-width: 576px) {
  .action-buttons {
    text-align: center;
    .text-right, .text-left{
      text-align: center!important;
    }

    &.row [class*="col-"] + [class*="col-"] {
      margin-top: 15px;
    }
  }

  .offer-title {
    font-size: 17px
  }

  .header {
    font-size: 16px;
  }
  .subheader {
    font-size: 14px;
  }

}

@media (max-width: 1199px) {
  .row-offer {
    height: inherit;
  }

  .pl-5, .pt-2 {
    padding: 15px!important;
    padding-top: 0px!important;
  }
  .offer-image {
    border: none;
    padding-right: 0;
  }
  .offer-features .now-ui-icons {
    font-size: 16px;
  }

  .company-logo {
    img {
      max-height: 50px
    }
  }
}

.event-section {
  margin-bottom: 60px;
  width: 100%;

  td {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  tr {
    border-bottom: 1px solid $line-color;
  }

  .attribute {
    color: $default-color;
    fill: $default-color;
  }

  .value {
    float: right;
    color: $black;
    font-weight: bold;
  }

}

.square {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 2px;

  &.green {
    background-color: #c3e929;
  }

  &.blue {
    background-color: #29ace9;
  }

  &.red {
    background-color: #e92929;
  }

  &.black  {
    background-color: #3c3c3c;
  }
}

img.avatar-logo {
  height: 42px;
}

.avatar-text {
  font-size: 15px;
  vertical-align: middle;
  padding: 10px;
  color: black;
}

.snowtribe-logo {
  height: 49px;
  margin-top: -7px;
}

.alert .fa, .alert .now-ui-icons {
  font-size: 20px;
}

.alert .alert-icon {
  display: block;
  float: left;
  margin-right: 15px;
  margin-top: -1px;
}

.highlight {
  color: $primary-color;
}

@media screen and (max-width: 991px) {
  .nav-open .navbar-collapse {
    box-shadow: 0px 0px 50px rgba(0,0,0,0.2);
  }
}

h1 {
  &.header {
    font-size: 35px;
    color: black;
    text-align: left;
    margin-bottom: 20px;
  }

}

.contact {

  .email {
    color: #07d8ff;
    font-weight: 300;
    font-size: 30px;
  }

  .email-label {
    color: $black-color;
  }
}

body {
  &.snowtribe {
    padding-bottom: 100px;
  }
}

.icon-feature {
  height: 20px;
}

.icon {
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.icon-filter {
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}

.transport {
  margin-right: 20px;

  &:last-child {
    margin-right: 0px;
  }

  .icon {
    height: 25px;
  }
}

.icon {
  &.tick {
    fill: $primary-color;
    width: 23px;
  }

  &.cross {
    fill: #e2564b;
  }

  &.star {
     width: 23px;
     fill: $default-color-opacity;
  }

  &.star-on {
    width: 23px;
    fill: $primary-color;
  }
}

.card-login {
  max-width: 320px;
}

.logo-container {
  img {
    max-height: 250px;
  }
}

.transport-element {
  display:inline-block;
}

iframe.map-top {
  width: 100%;
  border: none;
}

.resort-description {
  padding: 1.75rem 1.25rem 1.25rem 3rem;
}

.resort-image img {
  height: 100%
}

.resort {
  .card-block {
    padding: 0px;
  }
}

.row-resort {
  height: 120px;
}

.country-link {
  .icon {
    height: 50px;
  }

  text-transform: uppercase;
  text-align: center;
}
