<div class="main-content">
  <div class="container-fluid">
    <div *ngIf="!results" class="row">
      <div class="col-10 offset-md-1 pb-5 pt-5 text-center">
        <i class="now-ui-icons loader_refresh spin"></i> Ładowanie...
      </div>
    </div>
    <div *ngIf="results" class="row">
      <div class="col-md-12">
        <div class="" [@table]>
          <div class="row">
            <div class="col-md-8">
              <h4>Monitoring ({{results.length}})</h4>
            </div>
            <div class="col-md-4">
              <button (click)="checkAll()" class="btn btn-primary btn-fill pull-right"
                      [class.disabled]="isClickedOnce"
                      (click)="isClickedOnce = true"
              ><i class="pe-7s-plus"></i>
                Sprawdź wszystkie
              </button>
            </div>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>#</th>
                <th>Biuro</th>
                <th>Nazwa wyjazdu</th>
                <th>Status</th>
                <th>Ostatnia aktualizacja</th>
                <th>Notatki</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let result of results" (click)="showResult(result)" #resultList>
                <td>{{result.event.id}}</td>
                <td><img class="small-image" src="/uploaded_assets/{{result.event.company.logo}}"/></td>
                <td>{{result.event.name}}</td>
                <td>
                  <span *ngIf="result.type == 'OK'" class="badge badge-success mb-0">OK</span>
                  <span *ngIf="result.type == 'PRICE_DIFFERENCE'" class="badge badge-warning mb-0">CENA RÓŻNA</span>
                  <span *ngIf="result.type == 'NOT_FOUND' && result.event.active" class="badge badge-danger mb-0">NIE ZNALEZIONO</span>
                  <span *ngIf="result.type == 'NOT_FOUND' && !result.event.active" class="badge badge-info mb-0">NIE ZNALEZIONO / NIEAKTYWNE</span>
                  <span *ngIf="result.event.notes" data-toggle="tooltip" data-placement="right" title="{{result.event.notes}}">
                    <i class="now-ui-icons travel_info"></i>
                  </span>
                </td>
                <td>{{result.date}}</td>
                <td>{{result.notes}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
