<div class="main-content">
  <div class="container-fluid">
    <div *ngIf="!result" class="row">
      <div class="col-10 offset-md-1 pb-5 pt-5 text-center">
        <i class="now-ui-icons loader_refresh spin"></i> Ładowanie...
      </div>
    </div>
    <div *ngIf="result" class="row" [@table]>
      <div class="col-md-12">
        <div class="row">
          <div class="col-4">
            <h3>Szczegóły #{{result.id}}</h3>
          </div>
          <div class="col-3">
            <a href="{{result.event.url}}" target="_blank" class="btn btn-simple btn-default">Podgląd na
              {{result.event.company.name}}</a>
          </div>
          <div class="col-3">
            <a target="_blank" href="/wyjazdy-zimowe-narty-snowboard/{{result.event.link}}"
               class="btn btn-simple btn-default">Podgląd na SnowTribe.pl</a>
          </div>
          <div class="col-2">
            <button type="button" (click)="editEvent(result.event)" class="btn btn-simple btn-primary">
              Edytuj wyjazd
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div *ngIf="result.type == 'OK'" class="alert alert-success" role="alert">
              <strong>OK!</strong> Ogłoszenie pasuje do ogłoszenia na stronie biura.
            </div>
            <div *ngIf="result.type == 'PRICE_DIFFERENCE'" class="alert alert-warning" role="alert">
              <strong>RÓŻNE CENY!</strong> {{result.notes}}
            </div>
            <div *ngIf="result.type == 'NOT_FOUND' && result.event.active" class="alert alert-danger" role="alert">
              <strong>OGŁOSZENIE NIEDOSTĘPNE!</strong> {{result.notes}}
            </div>
            <div *ngIf="result.type == 'NOT_FOUND' && !result.event.active" class="alert alert-info" role="alert">
              <strong>OGŁOSZENIE NIEDOSTĘPNE ALE JEST NIEAKTYWNE!</strong> {{result.notes}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-7">
            <h1 class="pull-left">Informacje</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-7">
            Ostatnie sprawdzenie: <strong>{{result.date}}</strong><br/>
            Status: <strong>{{result.description}}</strong><br/>
            Szczegóły: <strong>{{result.notes}}</strong><br/>
            Uwagi do wyjazdu: <strong>{{result.event.notes ? result.event.notes : 'Brak'}}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
