<div class="main-content">
  <div class="container-fluid">
    <div *ngIf="!event && !addMode" class="row">
      <div class="col-10 offset-md-1 pb-5 pt-5 text-center">
        <i class="now-ui-icons loader_refresh spin"></i> Ładowanie...
      </div>
    </div>
    <div *ngIf="event || addMode" class="row" [@table]>
      <div class="col-md-12">
        <div class="row">
          <div class="col-3">
            <h3 *ngIf="!addMode">Edytuj wyjazd</h3>
            <h3 *ngIf="addMode">Nowy wyjazd</h3>
          </div>
          <div class="col-2">
            <button type="button" (click)="copyEvent()" *ngIf="!addMode" class="btn btn-simple btn-default">Stwórz
              kopię
            </button>
          </div>
          <div class="col-2">
            <a target="_blank" href="/wyjazdy-zimowe-narty-snowboard/{{event.link}}" *ngIf="!addMode"
               class="btn btn-simple btn-default">Podgląd wyjazdu</a>
          </div>
        </div>

        <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="row">
            <div class="col-md-7">
              <h1>Podstawowe informacje</h1>
              <div class="h1-line"></div>
            </div>
          </div>
          <div *ngIf="user.isAdmin()" class="row">
            <div class="col-md-7">
              <div class="form-group">
                <label class="form-control-label">Biuro turystyczne</label>
                <select class="form-control" formControlName="company">
                  <option *ngFor="let company of companies" [value]="company.id">{{company.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="form-group"
                   [ngClass]="{'has-danger':eventForm.controls.name.invalid && eventForm.controls.name.dirty}">
                <label class="form-control-label">Nazwa</label>
                <input type="text" id="name" class="form-control" placeholder="Nazwa" formControlName="name">
                <div *ngIf="!eventForm.controls.name.valid && eventForm.controls.name.dirty"
                     class="form-control-feedback">Nazwa wyjazdu nie może być pusta ani dłuższa niż 31 znaki
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="form-group">
                <div class="checkbox">
                  <input type="checkbox" id="active" formControlName="active">
                  <label for="active">
                    Oferta jest aktywna
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="form-group"
                   [ngClass]="{'has-danger':eventForm.controls.url.invalid && eventForm.controls.url.dirty}">
                <label class="form-control-label">URL wyjazdu</label>
                <input type="text" id="url" class="form-control" placeholder="Adres strony internetowej wyjazdu"
                       formControlName="url">
                <div *ngIf="!eventForm.controls.url.valid && eventForm.controls.url.dirty"
                     class="form-control-feedback">Adres nie może być pusty
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label class="form-control-label">Cena [PLN]</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
              <div class="form-group">
                <div class="checkbox">
                  <input type="checkbox" id="priceFrom" formControlName="priceFrom">
                  <label for="priceFrom">
                    Od
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group"
                   [ngClass]="{'has-danger':eventForm.controls.price.invalid && eventForm.controls.price.dirty}">
                <input type="text" class="form-control" placeholder="Cena" formControlName="price">
                <div *ngIf="eventForm.controls.price.dirty && eventForm.controls.price.errors">
                  <div *ngIf="eventForm.controls.price.errors.min"
                       class="form-control-feedback">Cena wyjazdu nie może być niższa niż zero
                  </div>
                  <div *ngIf="eventForm.controls.price.errors.max"
                       class="form-control-feedback">Cena wyjazdu nie może być większa niż 10000
                  </div>
                  <div *ngIf="eventForm.controls.price.errors.notanumber"
                       class="form-control-feedback">Cena wyjazdu musi być liczbą
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Uwagi dotyczące ceny" formControlName="priceNotes">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="form-group" id="datepicker">
                <div class="row">
                  <div class="col-md-6">
                    Początek [dd.mm.rrrr]
                    <input type="text" data-datepicker-color="primary" class="form-control" name="start"
                           formControlName="start"/>
                  </div>
                  <div class="col-md-6">
                    Koniec [dd.mm.rrrr]
                    <input type="text" class="form-control" name="end" formControlName="end"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="form-group"
                   [ngClass]="{'has-danger':eventForm.controls.people.invalid && eventForm.controls.people.dirty}">
                <label class="form-control-label">Ilość osób</label>
                <input type="text" class="form-control" placeholder="Cena" formControlName="people">
                <div *ngIf="eventForm.controls.people.dirty && eventForm.controls.people.errors">
                  <div *ngIf="eventForm.controls.people.errors.min"
                       class="form-control-feedback">Ilość osób nie może być niższa niż zero
                  </div>
                  <div *ngIf="eventForm.controls.people.errors.max"
                       class="form-control-feedback">Ilość osób nie może być większa niż 10000
                  </div>
                  <div *ngIf="eventForm.controls.people.errors.notanumber"
                       class="form-control-feedback">Ilość osób musi być liczbą
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="form-group">
                <label class="form-control-label">Miejsce</label>
                <select class="form-control" formControlName="resort">
                  <option *ngFor="let resort of resorts" [value]="resort.id">{{resort.fullName}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="form-group">
                <label class="form-control-label">Rodzaj</label>
                <select class="form-control" formControlName="category">
                  <option *ngFor="let category of categories" [value]="category.id">{{category.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row mt-5  mb-3">
            <div class="col-md-7">
              <h1>Transport</h1>
              <div class="h1-line"></div>
            </div>
          </div>
          <div formArrayName="transports">
            <div *ngFor="let transport of transports.controls; let i=index" [formGroupName]="i">
              <div class="row">
                <div class="col-md-2">
                  <div class="form-group">
                    <div class="checkbox">
                      <input type="checkbox" id="transport-{{transport.controls.transportId.value}}"
                             formControlName="checked">
                      <label for="transport-{{transport.controls.transportId.value}}">
                        {{transport.controls.name.value}}
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-2" *ngIf="transport.controls.checked.value">
                  <div class="form-group">
                    <select class="form-control" formControlName="kind">
                      <option value="INCLUDED">W cenie</option>
                      <option value="DISCOUNT">Obniżka</option>
                      <option value="EXTRA">Dopłata</option>
                      <option value="ON_YOUR_OWN">We własnym zakresie</option>
                      <option value="ON_DEMAND">Na indywidualną prośbę</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2"
                     *ngIf="transport.controls.kind.value == 'EXTRA' || transport.controls.kind.value == 'DISCOUNT' || transport.controls.kind.value == 'ON_DEMAND'">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Koszt" formControlName="value">
                  </div>
                </div>
                <div class="col-md-1"
                     *ngIf="transport.controls.kind.value == 'EXTRA' || transport.controls.kind.value == 'DISCOUNT' || transport.controls.kind.value == 'ON_DEMAND'">
                  <div class="form-group">
                    <select class="form-control" formControlName="currency">
                      <option value="PLN">PLN</option>
                      <option value="EUR">EUR</option>
                      <option value="CHF">CHF</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-5  mb-3">
            <div class="col-md-7">
              <h1>Cena zawiera</h1>
              <div class="h1-line"></div>
            </div>
          </div>
          <div formArrayName="prices">
            <div *ngFor="let price of prices.controls; let i=index" [formGroupName]="i">
              <div class="row">
                <div class="col-md-3">
                  <strong>{{price.controls.priceName.value}}</strong>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <select class="form-control" formControlName="kind">
                      <option value="INCLUDED">Cena zawiera</option>
                      <option value="EXCLUDED">Płatne obowiązkowo</option>
                      <option value="RETURNED">Opłata zwrotna</option>
                      <option value="OPTIONAL">Płatne opcjonalnie</option>
                      <option value="N_A">Niedostępne</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-7"
                     *ngIf="price.controls.kind.value == 'EXCLUDED' || price.controls.kind.value == 'OPTIONAL'
                        || price.controls.kind.value == 'RETURNED'">
                  <div class="row">
                    <div class="col-md-2">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Koszt" formControlName="value">
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <select class="form-control" formControlName="currency">
                          <option value="PLN">PLN</option>
                          <option value="EUR">EUR</option>
                          <option value="CHF">CHF</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Uwagi" formControlName="description">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-7" *ngIf="price.controls.kind.value == 'INCLUDED'">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Uwagi" formControlName="description">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-5  mb-3">
            <div class="col-md-7">
              <h1>Zakwaterowanie</h1>
              <div class="h1-line"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="form-group">
                <label class="form-control-label">Zdjęcia</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="form-group">
                <a class="btn btn-simple btn-primary" data-toggle="modal" data-target="#uploadModal">Dodaj zdjęcia</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="row" formArrayName="images">
                <div class="col-md-4" *ngFor="let image of images.controls; let i=index" [formGroupName]="i">
                  <div class="form-group">
                    <div class="checkbox">
                      <input type="checkbox" id="images-{{image.controls.path.value}}" formControlName="checked">
                      <label for="images-{{image.controls.path.value}}">
                        {{image.controls.name.value}}
                        <img src="/uploaded_assets/{{image.controls.path.value}}" style="width: 200px;"/>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="form-group"
                   [ngClass]="{'has-danger':eventForm.controls.stars.invalid && eventForm.controls.stars.dirty}">
                <label class="form-control-label">Standard zakwaterowania [1-5]</label>
                <input type="text" class="form-control" placeholder="Ilosc gwiazdek" formControlName="stars">
                <div *ngIf="eventForm.controls.stars.dirty && eventForm.controls.stars.errors">
                  <div *ngIf="eventForm.controls.stars.errors.min || eventForm.controls.stars.errors.max"
                       class="form-control-feedback">Standard zakwaterowania musi mieścic się w przedziale 1-5
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="form-group"
                   [ngClass]="{'has-danger':eventForm.controls.rooms.invalid && eventForm.controls.rooms.dirty}">
                <label class="form-control-label">Ilosc osob w pokojach [2,4,5,6]</label>
                <input type="text" class="form-control" placeholder="Ilosc osób" formControlName="rooms">
                <div *ngIf="eventForm.controls.rooms.dirty && eventForm.controls.rooms.errors">
                  <div *ngIf="eventForm.controls.rooms.errors.min || eventForm.controls.rooms.errors.max"
                       class="form-control-feedback">Format powinien byc: 2,4,5,6
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="form-group">
                <label class="form-control-label">Dodatkowe wyposażenie</label>
              </div>
            </div>
          </div>
          <div class="row" formArrayName="accommodations">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-4" *ngFor="let accommodation of accommodations.controls; let i=index"
                     [formGroupName]="i">
                  <div class="form-group">
                    <div class="checkbox">
                      <input type="checkbox" id="accommodation-{{accommodation.controls.accommodationId.value}}"
                             formControlName="offered">
                      <label for="accommodation-{{accommodation.controls.accommodationId.value}}">
                        {{accommodation.controls.name.value}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-5 mb-3">
            <div class="col-md-7">
              <h1>Dodatkowe opcje</h1>
              <div class="h1-line"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="row" formArrayName="features">
                <div class="col-md-4" *ngFor="let feature of features.controls; let i=index" [formGroupName]="i">
                  <div class="form-group">
                    <div class="checkbox">
                      <input type="checkbox" id="feature-{{feature.controls.featureId.value}}"
                             formControlName="checked">
                      <label for="feature-{{feature.controls.featureId.value}}">
                        {{feature.controls.name.value}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <button type="submit" [disabled]="eventForm.pristine || eventForm.invalid" class="btn btn-primary">
                Zapisz
              </button>
            </div>
          </div>
        </form>
        <!-- <p>Form value: </p>
        <pre>{{ eventForm.value | json }}</pre>
        <p>Form status:</p>
        <pre>{{ eventForm.status | json }}</pre>-->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Dodawanie zdjęć</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <input type="file" ng2FileSelect [uploader]="uploader" multiple/><br/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table">
                <thead>
                <tr>
                  <th width="50%">Nazwa</th>
                  <th>Rozmiar</th>
                  <th>Postęp</th>
                  <th>Status</th>
                  <th>Akcje</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue">
                  <td><strong>{{ item?.file?.name }}</strong></td>
                  <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                  <td>
                    <div class="progress" style="margin-bottom: 0;">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                    </div>
                  </td>
                  <td class="text-center">
                    <span *ngIf="item.isSuccess">Sukces<i class="glyphicon glyphicon-ok"></i></span>
                    <span *ngIf="item.isCancel">Anulowany<i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span *ngIf="item.isError">Błąd<i class="glyphicon glyphicon-remove"></i></span>
                  </td>
                  <td nowrap>
                    <button type="button" class="btn btn-primary btn-sm"
                            (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                      <span class="glyphicon glyphicon-upload"></span> Wgraj
                    </button>
                    <button type="button" class="btn btn-warning btn-simple btn-sm"
                            (click)="item.cancel()" [disabled]="!item.isUploading">
                      <span class="glyphicon glyphicon-ban-circle"></span> Anuluj
                    </button>
                    <button type="button" class="btn btn-danger btn-simple btn-sm"
                            (click)="item.remove()">
                      <span class="glyphicon glyphicon-trash"></span> Usuń
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-md-12">
                  Postęp kolejki:
                  <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Zamknij</button>
        <button type="button" class="btn btn-warning btn-simple btn-s"
                (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
          <span class="glyphicon glyphicon-ban-circle"></span> Anuluj wszystkie
        </button>
        <button type="button" class="btn btn-danger btn-simple btn-s"
                (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
          <span class="glyphicon glyphicon-trash"></span> Usuń wszystkie
        </button>
        <button type="button" class="btn btn-primary btn-s"
                (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
          <span class="glyphicon glyphicon-upload"></span> Wgraj wszystkie
        </button>
      </div>
    </div>
  </div>
</div>
