<div class="main-content">
  <div class="container-fluid">
    <div *ngIf="!events" class="row">
      <div class="col-10 offset-md-1 pb-5 pt-5 text-center">
        <i class="now-ui-icons loader_refresh spin"></i> Ładowanie...
      </div>
    </div>
    <div *ngIf="events" class="row">
      <div class="col-md-12">
        <div class="" [@table]>
          <div class="row">
            <div class="col-md-8">
              <h4>Twoje wyjazdy ({{events.length}})</h4>
            </div>
            <div class="col-md-4">
              <button (click)="addEvent()" class="btn btn-primary btn-fill pull-right"><i class="pe-7s-plus"></i> Dodaj
                wyjazd
              </button>
            </div>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover">
              <thead>
              <tr>
                <th *ngIf="user.isAdmin()"></th>
                <th *ngIf="user.isAdmin()">Biuro</th>
                <th>Nazwa wyjazdu</th>
                <th>Data</th>
                <th>Miejsce</th>
                <th>Cena</th>
                <th>Aktywny</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let event of events" (click)="showEvent(event)">
                <td *ngIf="user.isAdmin()"><img class="small-image" src="/uploaded_assets/{{event.company.logo}}"/></td>
                <td *ngIf="user.isAdmin()">{{event.company.name}}</td>
                <td>{{event.name}}</td>
                <td>{{event.start}} - {{event.end}}</td>
                <td>{{event.resort.name}}</td>
                <td>{{event.price}} PLN</td>
                <td>{{event.active ? 'Tak' : 'Nie'}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
