@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.all-icons [class*="pe-"]{
    font-size: 40px;
}
.all-icons input{
    border: 0;
}
.all-icons .font-icon-detail{
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}
.all-icons .font-icon-detail input{
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}

#map{
    position:relative;
    width:100%;
    height: 100%;
}
.map{
    height: 280px !important;

}
.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 12px 8px;
  vertical-align: middle;
  border-color: #E3E3E3;
}

.table > thead > tr > th {
  border-bottom-width: 1px;
  font-size: 12px;
  text-transform: uppercase;
  color: #9A9A9A;
  font-weight: 400;
  padding-bottom: 5px;
}

/*  login page */
.wrapper.wrapper-full-page {
  height: auto;
  min-height: 100vh;
}

.full-page:after, .full-page:before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.full-page > .content,
.full-page > .footer {
  position: relative;
  z-index: 4;
}
.full-page > .content {
  min-height: calc(100vh - 70px);
}
.full-page .full-page-background {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
}


.login-page > .content,
.lock-page > .content {
  padding-top: 22vh;
}

.bootstrap-navbar .user a, .login-page .card {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

.login-page .card {
  box-shadow: 0 25px 30px -13px rgba(40, 40, 40, 0.4);
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.login-page .card.card-hidden {
  opacity: 0;
  -webkit-transform: translate3d(0, -60px, 0);
  -moz-transform: translate3d(0, -60px, 0);
  -o-transform: translate3d(0, -60px, 0);
  -ms-transform: translate3d(0, -60px, 0);
  transform: translate3d(0, -60px, 0);
}
.login-page .card .header {
  padding-bottom: 30px;
}
.login-page .card .btn-wd {
  min-width: 180px;
}

.login-page .btn {
  background-color: #07d8ff;
  border-color: #07d8ff;
  color: #fff;
}

.navbar.navbar-absolute {
  position: absolute;
  width: 100%;
  z-index: 1030;
}

.navbar .navbar-nav p {
  display: inline-block;
  padding-left: 5px;
  margin-bottom: 0;
}

.footer-transparent {
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  background-color: transparent;
}

.full-page .footer nav > ul a:not(.btn),
.full-page .footer,
.full-page .footer .copyright a {
  color: #FFFFFF;
  font-size: 14px;
}
.full-page .footer .copyright {
  color: rgba(255, 255, 255, 0.5);
}

.iphone {
  background: url(../img/iphone.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 430px;
  height: 600px;
}

.iphone-wrapper {
  margin-top: -20px;
}

.iphone iframe {
  width: 228px;
  height: 407px;
  margin-top: 103px;
  border: none;
  margin-left: 92px;
}

.m-r-10 {
  margin-right: 10px;
}

/* new styles */

.sidebar[data-color="azure"]:after {
  background: #353596;
  background: -moz-linear-gradient(top, #353596 0%, #7875dc 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #353596), color-stop(100%, #7875dc));
  background: -webkit-linear-gradient(top, #353596 0%, #7875dc 100%);
  background: -o-linear-gradient(top, #353596 0%, #7875dc 100%);
  background: -ms-linear-gradient(top, #353596 0%, #7875dc 100%);
  background: linear-gradient(to bottom, #353596 0%, #7875dc 100%);
  background-size: 150% 150%;
}


 .logo .simple-text {
  text-transform: none !important;
  padding: 10px 0px 10px 25px !important;
  display: block !important;
  color: #FFFFFF !important;
  text-align: left !important;
  line-height: 30px !important;
  font-family: 'Nunito', sans-serif !important;
  font-size: 35px !important;
  font-weight: bold !important;
}

.logo-img img {
  width: 18px !important;
  top: 0px !important;
  position: relative !important;
}

 .logo-img {
  width: 200px !important;
}

 .label {
  font-size: 40%;
  vertical-align: middle;
}

.main-panel {
  background: #ffffff;
}

.card {
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.12);
}

.btn-danger.btn-fill {
  background-color: #f86486;
}

.btn-danger.btn-fill:hover, .btn-danger.btn-fill:focus, .btn-danger.btn-fill:active, .btn-danger.btn-fill.active, .open > .btn-danger.btn-fill.dropdown-toggle {
  background-color: #eb5477;
  border-color: #eb5477
}

.btn-danger {
  border-color: #f86486;
}

.full-page .full-page-background {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
}

.navbar .navbar-brand {
  font-size: 33px;
  font-weight: 400;
  margin-top: 15px;
}

.navbar-brand-sub {
  font-family: 'Open Sans';
  font-size: 28px;
  color: #39EDEA;
  font-weight: 400;
}

.stats-blue {
  color: #26ddde;
}

.stats-blue .stats-line {
  background-color: #26ddde !important;
}

.stats-red {
  color: #d53963;
}

.stats-red .stats-line {
  background-color: #d53963 !important;
}

.stats-yellow {
  color: #ffd253;
}

.stats-yellow .stats-line {
  background-color: #ffd253 !important;
}

.stats {
  text-align: center;
}

.stats .content {
  font-weight: 300;
  font-size: 50px;
}

.stats .content {
  padding: 0px;
}

.stats img {
  height: 30px;
}

.stats-line {
  height: 8px;
  background-color: #fff;
  border-radius: 4px 4px 0px 0px;
}

.stats .footer {
  padding-bottom: 30px;
}

.table-hover>tbody>tr:hover {
  cursor: pointer;
}
