<div class="page-header" filter-color="primary">
  <div class="page-header-image" style="background-image:url(/assets/img/snow-bg.png)"></div>
  <div class="container">
    <div class="col-md-4 content-center">
      <div class="card card-login card-plain">
        <form class="form" method="" action="">
          <div class="header header-primary text-center">
            <div class="logo-container">
              <img src="/assets/img/snowtribe.png" alt="">
            </div>
          </div>
          <div class="content">
            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons users_circle-08"></i>
                                </span>
              <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="Login" >

            </div>
            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons text_caps-small"></i>
                                </span>
              <input type="password" class="form-control" name="password"  [(ngModel)]="password" placeholder="Hasło">
            </div>
          </div>
          <div class="footer text-center">
            <button (click)="login()" type="button" class="btn btn-primary btn-round btn-lg btn-bloc w-100">Zaloguj</button>
          </div>
          <div class="pull-right">
            <h6>
              <a href="/kontakt" class="link">Potrzebujesz pomocy?</a>
            </h6>
          </div>
        </form>
      </div>
    </div>
  </div>
  <footer class="footer mt-5" >
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 text-left">
          <nav>
            <ul>
              <li>
                <a href="/">
                  Wyjazdy
                </a>
              </li>
              <li>
                <a href="/o-nas">
                  O Projekcie
                </a>
              </li>
              <li>
                <a href="/dla-firm">
                  Dla firm
                </a>
              </li>
              <li>
                <a href="/kontakt">
                  Kontakt
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-12 col-lg-6 text-right">
          <div class="copyright">
            ©2017, Designed & Coded with <i class="now-ui-icons ui-2_favourite-28 highlight"></i> by
            <a href="http://digitalwolves.io" target="_blank">Digital Wolves</a>.
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
