<div class="row">
  <div *ngIf="!refreshing" class="col-md-10 offset-md-1">
    <h1>Liczba pasujących wyjazdów: {{totalEvents}}</h1>
    <div class="h1-line"></div>
  </div>
</div>
<div *ngIf="refreshing" class="col-10 offset-md-1 pb-5 pt-5 text-center text-center">
  <i class="now-ui-icons loader_refresh spin"></i> Przygotowywanie ofert...
</div>
<div *ngIf="!refreshing"
     infinite-scroll
     [infiniteScrollDistance]="scrollDistance"
     [infiniteScrollThrottle]="throttle"
     (scrolled)="loadMoreEvents()">
  <div *ngFor="let event of events" class="row" #eventsList>
    <div class="col-12">
      <a href="/wyjazdy-zimowe-narty-snowboard/{{event.link}}">
        <div class="card offer" [ngClass]="{'partner': event.company.partner}">
          <div *ngIf="event.company.partner" class="partner-label-right hidden-xl-up">PARTNER</div>
          <div class="card-block">
            <div class="row row-offer hidden-lg-down">
              <div class="col-2 d-flex align-items-center offer-image text-center">
                <div class="w-100 company-logo">
                  <img src="/uploaded_assets/{{event.company.logo}}"/>
                  <div *ngIf="event.company.partner" class="partner-label">
                    PARTNER
                  </div>
                </div>
              </div>
              <div class="col-9 pl-5 pt-2">
                <div class="row">
                  <div class="col-lg-7">
                    <div class="row">
                      <div class="col-12 offer-title">{{event.name}}</div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <span class="offer-dates">{{event.start}} - {{event.end}}</span>
                        <span class="offer-place">{{event.resort.fullName}}</span></div>
                    </div>
                  </div>

                  <div class="col-lg-5">
                    <div class="row">
                      <div class="col-12 offer-features text-right">
                        <div>
                          <span *ngFor="let transport of event.transports" class="transport-element">
                              <img class="icon" src="/assets/icons/{{transport.transport.icon}}">
                              <span *ngIf="transport.kind == 'EXTRA'" class="badge badge-info" data-toggle="tooltip" data-placement="bottom" title="{{transport.value}} {{transport.currency}} dodatkowo płatne">
                                +{{transport.value}} {{transport.currency}}
                              </span>
                              <span  *ngIf="transport.kind == 'DISCOUNT'" class="badge badge-success" data-toggle="tooltip" data-placement="bottom" title="Cena wyjazdu pomniejszona o {{transport.value}} {{transport.currency}}">
                                -{{transport.value}} {{transport.currency}}
                              </span>
                              <span  *ngIf="transport.kind == 'ON_YOUR_OWN'" class="badge badge-danger" data-toggle="tooltip" data-placement="bottom" title="Transport należy zapewnić sobie we własnym zakresie.">
                                Dodatkowo
                              </span>
                              <span  *ngIf="transport.kind == 'ON_DEMAND'" class="badge badge-info" data-toggle="tooltip" data-placement="bottom" title="Opcja dostępna na indywidualną prośbę. Przybliżony koszt ok. {{transport.value}} {{transport.currency}}.">
                                ok. {{transport.value}} {{transport.currency}}
                              </span>
                            <span  *ngIf="transport.kind == 'INCLUDED'" class="badge badge-primary" data-toggle="tooltip" data-placement="bottom" title="Transport jest uwzględniony w cenie wyjazdu!">
                                W cenie
                              </span>
                          </span>
                        </div>
                        <span *ngIf="event.company.partner" class="badge badge-danger badge-promo">RABAT -{{event.company.discount}} PLN</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12  text-right">
                        <span *ngIf="event.company.partner" class="offer-price-old">{{event.priceFrom ? 'od' : ''}} {{event.price}} PLN</span>
                        <span class="offer-price">{{event.priceFrom ? 'od' : ''}} {{event.price - event.company.discount}} PLN
                            <span *ngIf="event.company.partner" data-html="true" data-toggle="tooltip" data-placement="right"
                                  title="{{event.priceNotes ? event.priceNotes + '<br/>---</br>' : ''}}Cena z uwzględnieniem zniżki SnowTribe! Pobierz kod rabatowy i uzyskaj zniżkę w wysokości {{event.company.discount}} PLN przy rezerwacji wyjazdu!">
                              <i class="now-ui-icons travel_info"></i>
                            </span>
                            <span *ngIf="!event.company.partner && event.priceNotes" data-toggle="tooltip" data-placement="right" title="{{event.priceNotes}}">
                              <i class="now-ui-icons travel_info"></i>
                            </span>
                          </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-1 offer-arrow d-flex align-items-center text-center">
                <div class="w-100">
                  >
                </div>
              </div>
            </div>
            <div class="row row-offer hidden-xl-up">
              <div class="col-10 col-sm-11">
                <div class="row">
                  <div class="col-3 col-sm-2 d-flex align-items-center offer-image text-center">
                    <div class="w-100 company-logo">
                      <img src="/uploaded_assets/{{event.company.logo}}"/>

                    </div>
                  </div>
                  <div class="col-9 col-sm-10 offer-title d-flex align-items-center">
                    {{event.name}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="row mt-3">
                      <div class="col-12">
                        <span class="offer-dates">{{event.start}} - {{event.end}}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <span class="offer-place">{{event.resort.fullName}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row mt-2">
                      <div class="col-12 offer-features">
                        <div>
                          <span *ngFor="let transport of event.transports" class="transport-element">
                              <img class="icon" src="/assets/icons/{{transport.transport.icon}}">
                              <span *ngIf="transport.kind == 'EXTRA'" class="badge badge-info" data-toggle="tooltip" data-placement="bottom" title="{{transport.value}} {{transport.currency}} dodatkowo płatne">
                                +{{transport.value}} {{transport.currency}}
                              </span>
                              <span  *ngIf="transport.kind == 'DISCOUNT'" class="badge badge-success" data-toggle="tooltip" data-placement="bottom" title="Cena pomniejszona o @transport.value {{transport.currency}}">
                                -{{transport.value}} {{transport.currency}}
                              </span>
                              <span  *ngIf="transport.kind == 'ON_YOUR_OWN'" class="badge badge-danger" data-toggle="tooltip" data-placement="bottom" title="Transport należy zapewnić sobie we własnym zakresie">
                                Dodatkowo
                              </span>
                              <span  *ngIf="transport.kind == 'ON_DEMAND'" class="badge badge-info" data-toggle="tooltip" data-placement="bottom" title="Opcja dostępna na indywidualną prośbę. Przybliżony koszt {{transport.value}} {{transport.currency}}.">
                                ok. {{transport.value}} {{transport.currency}}
                              </span>
                            <span  *ngIf="transport.kind == 'INCLUDED'" class="badge badge-primary" data-toggle="tooltip" data-placement="bottom" title="Transport jest uwzględniony w cenie">
                                W cenie
                              </span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <span *ngIf="event.company.partner" class="badge badge-danger badge-promo">RABAT -{{event.company.discount}} PLN</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <span *ngIf="event.company.partner" class="offer-price-old">{{event.price}} PLN</span>
                        <span class="offer-price">{{event.price - event.company.discount}} PLN <i
                          class="now-ui-icons travel_info"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-2 col-sm-1 offer-arrow d-flex align-items-center text-center">
                <div class="w-100">></div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div *ngIf="loadingMore" class="row">
    <div class="col-md-10 offset-md-1 pb-5 pt-5 text-center">
      <i class="now-ui-icons loader_refresh spin"></i> Ładowanie dodatkowych ofert...
    </div>
  </div>
  <div *ngIf="noResults" class="row">
    <div class="col-md-10 offset-md-1 pb-5 pt-5 text-center">
      Brak pasujących ofert
    </div>
  </div>
</div>
