html, body{
  height: 100%;
}

.mountains {
  background-image: url(/assets/img/snow-bg.png) ;
  background-position: top center;
  background-repeat:  no-repeat;
  background-size:  100%;
  background-color: #fff;
}

h1, h2, h3 {
  color: #000;
  font-size: 30px;
  font-weight: 800;
  margin-top: 90px;
  margin-bottom: 20px;
  text-align: center;
}

h2, h3 {
  font-size: 20px;
  font-weight: 100;
  margin-top: 50px;
}

h3 {
  font-size: 14px;
}


div, body{
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;

}

.logo {
  padding: 20px;
  border: 4px solid #00e3cb;
  margin: auto;
  margin-top: 50%;
  width: 60%;
}

.form-control {
  background-color: #fff;
  border: 1px solid #00e3cb;
  line-height: 1.9em;
}

@media (max-width: 768px) {
  .mountains {
    background-size: 150%;
  }

  .logo {
    margin-top: 40%
  }

  h1, h2, h3 {
    margin-top: 50px;
  }
}

@media (max-width: 576px) {
  .mountains {
    background-size: 200%;
  }
}

@media (min-width: 1300px) {
  .logo {
    margin-top: 60%
  }
}

@media (min-width: 1500px) {
  .logo {
    margin-top: 70%
  }
}


@media (min-width: 1700px) {
  .logo {
    margin-top: 90%
  }
}
