<footer class="footer">
  <div class="container">
    <nav>
      <ul>
        <li>
          <a href="http://snowtribe.pl">
            SnowTribe.pl
          </a>
        </li>
        <li>
          <a href="http://snowtribe.pl/o-nas">
            O nas
          </a>
        </li>
        <li>
          <a href="#blog">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy; 2017, Designed & Coded by
      <a href="http://digitalwolves.io" target="_blank">Digital Wolves</a>.
    </div>
  </div>
</footer>
