<!--
Active filters: {{activeFilters | json}}
-->
<div *ngIf="!query">
  <div class="row mt-2">
    <div class="col-md-12">
      <div class="line"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-6 criteria-selected-label" >
      <span *ngIf="!criteriaVisible && activeFiltersDisplay.length > 0">Wybrane kryteria:</span>
    </div>
    <div class="col-lg-2 push-lg-8 col-6">
      <a class="btn btn-primary btn-simple pull-right" (click)="toggleCriteria()">
        {{criteriaVisible ? 'Ukryj kryteria' : 'Pokaż kryteria'}}
      </a>
    </div>
    <div class="col-lg-8 pull-lg-2 col-12">
      <div *ngIf="!criteriaVisible" class="criteria-selected">{{activeFiltersDisplay.length > 0 ? activeFiltersDisplay.join(', ') : ''}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="line"></div>
    </div>
  </div>
  <div id="filter-criteria" class="collapse">
    <div class="row"
         *ngFor="let filter of filters.filters; let isFirst = first"
         [ngClass]="{'pt-2' : !isFirst}">
      <div class="col-md-1 criteria-label" *ngIf="!filter.hidden">
        {{filter.name}}:
      </div>
      <div class="col-md-11" *ngIf="!filter.features && !filter.hidden">
        <button *ngFor="let option of filter.options" class="btn btn-round btn-simple"
                (click)="optionClicked(filter, option)"
                [ngClass]="{'btn-primary' : option.active, 'btn-primary-off' : !option.active}"
                type="button"><img *ngIf="option.image" class="icon-filter" src="/assets/icons/{{option.image}}">
          {{option.name}}
        </button>
      </div>
      <div class="col-md-11" *ngIf="filter.features && !filter.hidden">
        <button class="btn btn-round btn-simple mr-4" (click)="optionClicked(filter, filter.options[0])"
                [ngClass]="{'btn-primary' : filter.options[0].active, 'btn-primary-off' : !filter.options[0].active}"
                type="button">{{filter.options[0].name}}
        </button>
        <button *ngFor="let option of filter.options | slice:1"
                class="btn btn-feature btn-icon btn-icon-mini btn-round mr-2"
                data-toggle="tooltip" data-placement="bottom" title="{{option.name}}"
                (click)="optionClicked(filter, option)"
                [ngClass]="{'btn-feature-selected' : option.active, 'btn-feature' : !option.active}"
                type="button"><img src="/assets/icons/{{option.image}}" class="icon-feature"></button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="line"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 criteria-label">
        SORTUJ:
      </div>
      <div class="col-md-11">
        <button *ngFor="let sort of filters.sort" class="btn btn-round mr-4" type="button"
                (click)="sortClicked(sort)"
                [ngClass]="{'btn-feature-selected' : sort.active, 'btn-feature' : !sort.active}">
          {{sort.name}}
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="line"></div>
      </div>
    </div>
  </div>
</div>
