<div class="section header-section" *ngIf="!query">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <span class="header"><strong>Wyszukiwarka</strong> wyjazdów zimowych</span><br/>
        <span class="subheader">Znajdź swój wymarzony wyjazd!</span><br/>
      </div>
    </div>
  </div>
</div>
<div class="section criteria">
  <div class="container">
    <events-filter [query]="query">Loading criteria...</events-filter>
  </div>
</div>
<div class="section section-basic">
  <div class="container">
    <events-list>Loading events...</events-list>
  </div>
</div>
