<nav class="navbar navbar-toggleable-md bg-white" color-on-scroll="500">
  <div class="container">
    <div class="navbar-translate">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation"
              aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
      <a class="navbar-brand" href="http://demos.creative-tim.com/now-ui-kit/index.html" rel="tooltip"
         title="Designed by Invision. Coded by Creative Tim" data-placement="bottom" target="_blank">
        PANEL ADMINISTRACYJNY
      </a>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation"
         data-nav-image="../assets/img/blurred-image-1.jpg">
      <ul class="navbar-nav">
        <li class="nav-item">
          <p class="avatar-text"><strong>Witaj</strong> {{userService.getName()}}!</p>
        </li>
        <li class="nav-item" *ngIf="userService.isLoggedIn()">
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink1">
              <img class="avatar-logo rounded-circle img-border" src="/uploaded_assets/{{userService.getLogo()}}"/>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink1">
              <a class="dropdown-item" href="/">Powrót do SnowTribe.pl</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()" href="">Wyloguj</a>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
