@main {
} {
  SnowTribe | O projekcie - wyjazdy na narty!
} {
  <div class="container static-page">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h1 class="header">O projekcie</h1>
        <p>
          Jesteśmy fanami jazdy na snowboardzie od lat! Wielokrotnie uczestniczyliśmy w różnego rodzaju wyjazdach zimowych.
          Obecnie na rynku istnieje wiele biur podróży oferujących przeróżne wyjazdy narciarskie. Za każdym razem
          gdy planowaliśmy kolejny wyjazd pojawiał się problem znalezienia odpowiedniej oferty. Musieliśmy przeszukać
          kilkanaście różnych stron biur, przejrzeć opisy wszystkich wyjazdów, doczytać szczegóły. Traciliśmy na to
          mnóstwo czasu.
        </p>
        <p>
          Postanowiliśmy rozwiązać ten problem. Wpadliśmy na pomysł stworzenia serwisu SnowTribe.pl, który
          ma gromadzić oferty najlepszych biur podróży w jednym miejscu oraz jednocześnie być wyszukiwarką wyjazdów zimowych.
        </p>
        <h2>Zalety wyszukiwarki</h2>
        <ul>
          <li>Bogata baza wyjazdów zimowych najlepszych biur podróży w Polsce</li>
          <li>Szybkie przeszukiwanie ofert za pomocą filtrów</li>
          <li>Konkretne oferty, bez zbędnych opisów - wszystkie cechy wyjazdów są podane w czysty i przejrzysty sposób</li>
          <li>Wszystkie oferty wyjazdów posiadają spójny wygląd co pozwala w łatwy sposób porównać je między sobą</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 offset-lg-1">
        <img src="/assets/img/o-projekcie.jpg" />
      </div>
      <div class="col-lg-5 pt-3">
        <h2>Kody rabatowe</h2>
        <p>
          Ponadto oferujemy kody rabatowe, które są respektowane u naszych partnerów.
          Partnerzy na stronie wyróżnieni są błękitną "wstęgą". Przy każdej ofercie wyświetlona jest wartość
          zniżki na dany wyjazdy. Wahają się one pomiędzy 30PLN - 100PLN.
        </p>
        <p>
          Aby skorzystać z kodu wystraczy pobrać go z naszej strony. Czerwony przycisk do pobrania zniki znajduje się
          w prawym górym rogu na stronie ze szegółami danego wyjazdu. Po pobraniu kodu zniżkowego, należy go podać
          przy rezerwacji wyjazdu na stronie partnerskiego biura podróży. Dotyczy to zarówno rezerwacji on-line jak i
          rezerwacji telefonicznej.
        </p>
      </div>
    </div>
    <div class="row pt-3 text-center">
      <div class="col-lg-10 offset-lg-1">
        <p>Wspólnie stworzymy miejsce, gdzie wszyscy pasjonaci sportów zimowych będą mogli w łatwy sposób znaleźć odpowiedni dla siebie wyjazd i realizować swoją pasję.</p>
        <h3>Szukasz odpowiedniego wyjazdu zimowego?</h3>
        <a class="btn btn-primary btn-simple btn-round" href="/">Przejdź do wyszukiwarki</a>
      </div>
    </div>
  </div>
} {
  <script src="assets/ui/scripts.bundle.js" type="text/javascript"></script>
}
