@main {
  <script src="assets/ui/scripts.bundle.js" type="text/javascript"></script>
  <script src="assets/js/mail.js" type="text/javascript"></script>
} {
  SnowTribe | Skontaktuj się z nami!
} {
  <div class="container contact static-page">
    <div class="row">
      <div class="col-lg-5 offset-lg-1">
        <h1 class="header">Kontakt</h1>
        <p>
          Masz problem z działaniem serwisu? Jesteś zainteresowany naszą ofertą dla firm?
          Chciałbyś zasugerować zmiany? Użyj poniższego formularza!
        </p>

        <div class="alert alert-success" role="alert" id="success-message" style="display: none">
          <div class="container">
            <div class="alert-icon">
              <i class="now-ui-icons ui-2_like"></i>
            </div>
            <strong>Wiadomość</strong> została pomyślnie wysłana!
          </div>
        </div>
        <div class="alert alert-danger" role="alert" id="error-message" style="display: none">
          <div class="container">
            <div class="alert-icon">
              <i class="now-ui-icons objects_support-17"></i>
            </div>
            <strong>Ups!</strong> Coś poszło nie tak, spróbuj ponownie za chwilę.
          </div>
        </div>

        <form id="contact-form" method="post" action="/api/mail">
          <div class="row mt-5">
            <div class="col-12">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user-circle"></i>
                </span>
                <input type="email" class="form-control" placeholder="Email" name="email" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <textarea class="form-control" name="message" required placeholder="Treść wiadomości"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-12 mt-3">
              <button type="submit" class="btn btn-primary btn-round w-100">Wyślij wiadomość</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-5">
        <p class="email text-center mt-5"><a href="mailto:kontakt@@snowtribe.pl">kontakt@@snowtribe.pl</a></p>
      </div>
    </div>
  </div>
}{ }
