@main {

} {
  SnowTribe | Wyszukiwarka wyjazdów zimowych!
} {
  <events-app>
    <div class="section criteria pt-2 pb-5 text-center details">
      <div class="container">
        <i class="now-ui-icons loader_refresh spin"></i> Przygotowujemy wyjazdy...
      </div>
    </div>
  </events-app>
} {
  @* Built Angular bundles *@
  <script src="@routes.Assets.versioned("ui/scripts.bundle.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("ui/inline.bundle.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("ui/polyfills.bundle.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("ui/vendor.bundle.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("ui/main.bundle.js")" type="text/javascript"></script>
}
