@(event: api.event.Event)
@main {
} {
  @event.name - @event.company.name - @event.resort.name - @event.resort.country.getName
} {
  <div class="container details">
    <div class="row">
      <div class="col-md-3 offset-md-1 col-4">
        <button class="btn btn-neutral btn-default btn-round hidden-md-down" onclick="window.history.back()">
          < Powrót do wyjazdów</button>
        <button class="btn btn-neutral btn-default btn-round hidden-lg-up" href="#" onclick="window.history.back()">
          < Powrót</button>
      </div>
      <div class="col-md-3 offset-md-4 text-right col-8">
      @if(event.company.partner) {
        <button class="btn btn-offer btn-round" type="button" data-toggle="modal" data-target="#discountModal">
          Pobierz kod zniżkowy</button>
      }
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 text-center event-company-logo">
        <a href="@event.company.url" target="_blank">
          <img src="/uploaded_assets/@event.company.logo" />
        </a>
      </div>
    </div>
    @if(event.company.partner) {
      <div class="row">
        <div class="col-12 text-center">
          <div class="partner-label straight">
            PARTNER
          </div>
        </div>
      </div>
    }
    <div class="row">
      <div class="col-12 text-center event-title">
      @event.name
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center event-place">
      @event.resort.getFullName
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <span class="event-calendar mr-3">
          <img src="/assets/icons/calendar.svg" class="icon"/> @event.getStart - @event.getEnd
        </span>
        @if(event.people != null) {
          <span class="event-calendar">
            <img src="/assets/icons/avatar.svg" class="icon"/> @event.people
          </span>
        }
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center offer-price">
        @if(event.company.partner) {
          <span class="offer-price-old">
            @if(event.priceFrom) { od }
            @event.price PLN</span>
        }
        <span class="offer-price">
          @if(event.priceFrom) { od }
          @(event.price - event.company.discount) PLN
        </span>
        @if(event.company.partner) {
          <span data-toggle="tooltip" data-placement="right" data-html="true" title="@if(event.priceNotes) {
            @event.priceNotes <br/>---<br/>} Cena z uwzględnieniem zniżki SnowTribe! Pobierz kod rabatowy i uzyskaj zniżkę w wysokości @event.company.discount PLN przy rezerwacji wyjazdu!">
            <img src="/assets/icons/info-button.svg" class="icon" />
          </span>
        }
        @if(!event.company.partner && event.priceNotes) {
          <span data-toggle="tooltip" data-placement="right" data-html="true" title="@event.priceNotes">
            <img src="/assets/icons/info-button.svg" class="icon" />
          </span>
        }

      </div>
    </div>
    @if(event.company.partner) {
      <div class="row">
        <div class="col-12 text-center">
          <span class="badge badge-danger badge-promo">RABAT -@event.company.discount PLN</span>
        </div>
      </div>
    }
    <div class="row event-transport">
      <div class="col-12 text-center">
      @for(transport <- event.transports) {
        <span class="transport">
          <img class="icon" src="/assets/icons/@transport.transport.icon">
          @transport.transport.name
          @if(transport.isExtra) {
            <span class="badge badge-info" data-toggle="tooltip" data-placement="bottom" title="@transport.value @transport.currency dodatkowo płatne">
              + @transport.value @transport.currency
            </span>
          }
          @if(transport.isDiscount) {
            <span class="badge badge-success" data-toggle="tooltip" data-placement="bottom" title="Cena pomniejszona o @transport.value @transport.currency">
              - @transport.value @transport.currency
            </span>
          }
          @if(transport.isOnYourOwn) {
            <span class="badge badge-danger" data-toggle="tooltip" data-placement="bottom" title="Transport należy zapewnić sobie we własnym zakresie">
              We własnym zakresie
            </span>
          }

          @if(transport.isOnDemand) {
            <span class="badge badge-info" data-toggle="tooltip" data-placement="bottom" title="Opcja dostępna na indywidualną prośbę. Przybliżony koszt @transport.value @transport.currency.">
              ok. @transport.value @transport.currency
            </span>
          }
          @if(transport.isIncluded) {
            <span class="badge badge-primary" data-toggle="tooltip" data-placement="bottom" title="Transport jest uwzględniony w cenie wyjazdu!">
              W cenie
            </span>
          }
        </span>
      }
      </div>
    </div>
    <div class="row event-features">
      <div class="col-12 text-center">
        <button class="btn btn-primary btn-icon btn-icon-mini btn-round mr-2" data-toggle="tooltip" data-placement="bottom" title="@event.category.name">
          <img src="/assets/icons/@event.category.icon" class="icon-feature">
        </button>
        @for(feature <- event.features) {
          <button class="btn btn-feature btn-icon btn-icon-mini btn-round mr-2" data-toggle="tooltip" data-placement="bottom" title="@feature.feature.name">
            <img src="/assets/icons/@feature.feature.icon" class="icon-feature">
          </button>
        }
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <div class="line"></div>
      </div>
    </div>
    <div class="row event-sections">
      <div class="col-12 col-lg-5 offset-lg-1 left-section">
        <h1>CENA ZAWIERA</h1>
        <div class="h1-line"></div>

        <table class="event-section">
        @for(price <- event.prices) {
          <tr>
            <td class="attribute">@price.price.name</td>
            @if(price.isIncluded) {
              <td class="value">
                @price.description
                <span data-toggle="tooltip" data-placement="right" title="Zawiera się w cenie wyjazdu" >
                  <img src="/assets/icons/check-mark.svg" class="icon tick" />
                </span>
              </td>
            }

            @if(price.isExcluded) {
              <td class="value">
                @price.description
                <span class="badge badge-danger" data-toggle="tooltip" data-placement="right" title="@price.value @price.currency płatne obowiązkowo">
                  + @price.value @price.currency</span>
              </td>
            }

            @if(price.isOptional) {
              <td class="value">
                @price.description
                <span class="badge badge-info" data-toggle="tooltip" data-placement="right" title="@price.value @price.currency płatne opcjonalnie">
                  + @price.value @price.currency</span>
              </td>
            }

            @if(price.isReturned) {
              <td class="value">
                @price.description
                <span class="badge badge-warning" data-toggle="tooltip" data-placement="right" title="@price.value @price.currency zwrotnej kaucji">
                  + @price.value @price.currency</span>
              </td>
            }

            @if(price.isNA) {
              <td class="value">
                <span data-toggle="tooltip" data-placement="right" title="Niedostępne" >
                  <img src="/assets/icons/cancel-music.svg" class="icon cross" />
                </span>
              </td>
            }
          </tr>
        }
        </table>
        <h1>ZAKWATEROWANIE</h1>
        <div class="h1-line"></div>

        <div id="accommodationCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
          @for(index <- 0 until event.images.size()) {
            @if(index == 0) {
              <div class="carousel-item active">
                <img class="d-block img-fluid" src="/uploaded_assets/@event.images(index).path" alt="First slide">
              </div>
            } else {
              <div class="carousel-item">
                <img class="d-block img-fluid" src="/uploaded_assets/@event.images(index).path" alt="First slide">
              </div>
            }
          }
          </div>
          <a class="carousel-control-prev" href="" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <table class="event-section">
          <tr>
            <td class="attribute">Standard</td>
            <td class="value">
              @event.getStarsDescription()
              @for(index <- 0 until event.stars) {
                <img src="/assets/icons/star-on.svg" class="icon star-on" />
              }
              @for(index <- 0 until (5 - event.stars)) {
                <img src="/assets/icons/star.svg" class="icon star" />
              }
            </td>
          </tr>
          <tr>
            <td class="attribute">Pokoje</td>
            <td class="value">
            @for(room <- event.peopleInRoom) {
              @room <img src="assets/icons/stick-man.svg" class="icon" />
            }
            </td>
          </tr>
          @for(accommodation <- event.accommodations) {
            <tr>
              <td class="attribute">@accommodation.accommodation.name</td>
              <td class="value">
              @if(accommodation.isAccessible) {
                <span data-toggle="tooltip" data-placement="right" title="Dostępne" >
                  <img src="/assets/icons/check-mark.svg" class="icon tick" />
                </span>
              } else {
                <span data-toggle="tooltip" data-placement="right" title="Niedostępne" >
                  <img src="/assets/icons/cancel-music.svg" class="icon cross" />
                </span>
              }
              </td>
            </tr>
          }
        </table>

      </div>
      <div class="col-12 col-lg-5 right-section">
        <h1>MIEJSCE</h1>
        <div class="h1-line"></div>

        <div id="resortCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
          @for(index <- 0 until event.resort.images.size()) {
            @if(index == 0) {
              <div class="carousel-item active">
                <img class="d-block img-fluid" src="/resorts/@event.resort.images(index).path" alt="First slide">
              </div>
            } else {
              <div class="carousel-item">
                <img class="d-block img-fluid" src="/resorts/@event.resort.images(index).path" alt="First slide">
              </div>
            }
          }
          </div>
          <a class="carousel-control-prev" href="#" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <table class="event-section">
          <tr>
            <td class="attribute">Ośrodek</td>
            <td class="value">@event.resort.getFullName <img class="icon" src="/assets/icons/countries/@event.resort.country.getFlag"></td>
          </tr>
          <tr>
            <td class="attribute">Długość tras</td>
            <td class="value">@event.resort.length km</td>
          </tr>
          <tr>
            <td class="attribute">Ilość tras</td>
            <td class="value">
              <div class="square green"></div> @event.resort.slopeLengthEasy
              <div class="square blue"></div> @event.resort.slopeLengthMedium
              <div class="square red"></div> @event.resort.slopeLengthHard
              <div class="square black"></div> @event.resort.slopeLengthExpert
            </td>
          </tr>
          <tr>
            <td class="attribute">Wysokość</td>
            <td class="value">@event.resort.altitude m n.p.m.</td>
          </tr>
          <tr>
            <td class="attribute">Mapa tras</td>
            <td class="value"><a target="_blank" href="/resorts/@event.resort.mapImage">
              Pokaż mapę tras <img src="/assets/icons/map.svg" class="icon"></a></td>
          </tr>
          <tr>
            <td class="attribute">Snowpark</td>
            <td class="value">
            @if(event.resort.snowpark) {
              <span data-toggle="tooltip" data-placement="right" title="Dostępne" >
                <img src="/assets/icons/check-mark.svg" class="icon tick" />
              </span>
            } else {
              <span data-toggle="tooltip" data-placement="right" title="Niedostępne" >
                <img src="/assets/icons/cancel-music.svg" class="icon cross" />
              </span>
            }
            </td>
          </tr>
          <tr>
            <td class="attribute">Freeride</td>
            <td class="value">
            @if(event.resort.freeride) {
              <span data-toggle="tooltip" data-placement="right" title="Dostępne" >
                <img src="/assets/icons/check-mark.svg" class="icon tick" />
              </span>
            } else {
              <span data-toggle="tooltip" data-placement="right" title="Niedostępne" >
                <img src="/assets/icons/cancel-music.svg" class="icon cross" />
              </span>
            }
            </td>
          </tr>
        </table>

        <h1>DODATKOWE ATRAKCJE</h1>
        <div class="h1-line"></div>

        <table class="event-section">
        @for(feature <- event.features) {
          <tr>
            <td class="attribute">
              <img src="/assets/icons/@feature.feature.icon" class="icon" />
              @feature.feature.name
            </td>
            <td class="value">
              <span data-toggle="tooltip" data-placement="right" title="Dostępne" >
                <img src="/assets/icons/check-mark.svg" class="icon tick" />
              </span>
            </td>
          </tr>
        }
        </table>
      </div>
    </div>
    <div class="row action-buttons">
      <div class="col-sm-6 text-right col-12">
        <a class="btn btn-primary btn-simple btn-round" href="@event.url">Przjedź do strony wyjazdu</a>
      </div>
      <div class="col-sm-6 text-left col-12">
      @if(event.company.partner) {
        <button class="btn btn-offer btn-round" type="button" data-toggle="modal" data-target="#discountModal">
          Pobierz kod zniżkowy</button>
      }
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 text-center mt-5">
        <p>
          <small>
          Powyższa oferta nie stanowi oferty w rozumieniu Kodeksu Cywilnego, a dane w niej zawarte mają jedynie charakter informacyjny i mogą ulec zmianie. <br/>
            Nie bierzemy odpowiedzialności za poprawność danych dotyczących wyjazdu m.in. cena, oferowane warunki oraz atrakcje.
            Portal pełni jedynie funkcję informacyjną i nie jest pośrednikiem w sprzedaży wyjazdów.
            Dokładne informacje oraz rezerwację należy sprawdzić i dokonać bezpośrednio na stronach biur podróży.
            <br/>Dokładamy jednak wszelkich starań, aby prezentowane przez oferty były jak najbardziej zgodne z rzeczywistością.
          </small>
        </p>
      </div>
    </div>
  </div>

  <div class="modal fade" id="discountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="now-ui-icons ui-1_simple-remove"></i>
          </button>
          <h4 class="modal-title" id="myModalLabel"></h4>
        </div>
        <div class="modal-body" style="padding-top: 0px;">
          <div class="row">
            <div class="col-md-12 text-center event-company-logo">
              <img src="/uploaded_assets/@event.company.logo" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <h4><strong>-@event.company.discount PLN</strong> zniżki na wyjazd</h4>
              <div style="font-weight: 300;
                text-transform: uppercase;
                font-size: 15px">Twój kod to:</div>
              <div style="text-transform: uppercase;
                border: 1px solid #00e3cb;
                padding: 8px 5px;
                font-size: 20px;"><strong>@event.company.discountCode</strong></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center mt-1">
              <p>skopiuj kod i podaj go przy rezerwacji wyjazdu</p>
              <a class="btn btn-danger btn-round" target="_blank" href="@event.url" >Przejdź na stronę wyjazdu</a>
            </div>
          </div>
          <form id="discount-form" action="/api/discount">
            <div class="row mt-4">
              <div class="col-md-12 text-center">
                <div class="form-group">
                  <div class="checkbox">
                    <input type="checkbox" name="newsletter" value="true" id="newsletter">
                    <label for="newsletter" style="font-size: 12px">
                      Zapisz się do newslettera i wyślij kod na maila
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseNewsletter">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label">Twój adres email</label>
                    <input type="email" required name="email" class="form-control" placeholder="Adres email">
                    <input type="hidden" required name="eventId" value="@event.id">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p><small>Bądź pierwszy, który dowie się
                    o najnowszych wyjazdach i zniżkach! Obiecujemy nie wysyłać spamu ;)</small></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" id="discount-button" class="btn btn-primary pull-right">Zapisz</button>
                </div>
              </div>
            </div>
          </form>
          <div class="row mt-2">
            <div class="col-md-12">
              <div class="alert alert-danger" role="alert" id="error-message" style="display: none">
                <div class="container">
                  <div class="alert-icon">
                    <i class="now-ui-icons objects_support-17"></i>
                  </div>
                  <strong>Ups!</strong> Coś poszło nie tak, spróbuj ponownie lub skontaktuj się z nami.
                </div>
              </div>
              <div class="alert alert-success" role="alert" id="success-message" style="display: none">
                <div class="container">
                  <div class="alert-icon">
                    <i class="now-ui-icons ui-2_like"></i>
                  </div>
                  <strong>Kod zniżkowy</strong> został pomyślnie wysłany na Twój adres email!
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

} {
  <script src="assets/ui/scripts.bundle.js" type="text/javascript"></script>
  <script src="assets/js/discount.js" type="text/javascript"></script>
  <script src="assets/js/mail.js" type="text/javascript"></script>
  <script src="assets/js/svg.js" type="text/javascript"></script>
}
