@import api.resort.CountryEntity
@(resorts: List[api.resort.Resort], country: CountryEntity, allCountries: List[CountryEntity])
@main {
} {
  SnowTribe | Ośrodki Narciarskie
} {
  <div class="container details">

    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        @if(country != null) {
            <h1 class="header">Ośrodki narciarskie <strong>@country.variant</strong></h1>
            <p>@country.description</p>
        } else {
          <h1 class="header">Ośrodki narciarskie</h1>
          <p>
            TBD
          </p>
          <p>
            TBD
          </p>
          <h2 class="text-center">Ośrodki narciarskie w poszczególnych krajach</h2>

          <div class="row">
            @for(c <- allCountries) {
              <div class="col-4 country-link">
                <a href="/osrodki-narciarskie/@c.link">
                  <div><img class="icon" src="/assets/icons/countries/@c.flag"></div>
                  <div>@c.name </div>
                </a>
              </div>
            }
          </div>
        }
      </div>
    </div>
    <div class="col-12 text-center header mb-3 mt-3">
    @if(country != null) {
      Ośrodki narciarskie <strong>@country.variant</strong>
    } else {
      Wszystkie ośrodki narciarskie
    }
    </div>
    @for(resort <- resorts) {
      <div class="row">
        <div class="col-12">
          <a href="/osrodek-narciarski/@resort.link">
            <div class="card resort">
              <div class="card-block">
                <div class="row row-resort hidden-lg-down">
                  <div class="col-2 resort-image">
                    @if(resort.images.size() > 0) {
                      <img src="/resorts/@resort.images(0).path"/>
                    }
                  </div>
                  <div class="col-9 resort-description">
                    <div class="row">
                      <div class="col-lg-7">
                        <div class="row">
                          <div class="col-12 offer-title">@resort.name</div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span class="offer-place">
                              @resort.getCountryName <img class="icon" src="/assets/icons/countries/@resort.country.getFlag">
                            </span>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-5">
                        <div class="row">
                          <div class="col-12 text-right offer-dates">
                            <div class="square green"></div>
                            @resort.slopeLengthEasy
                            <div class="square blue"></div>
                            @resort.slopeLengthMedium
                            <div class="square red"></div>
                            @resort.slopeLengthHard
                            <div class="square black"></div>
                            @resort.slopeLengthExpert
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12  text-right">
                            <span class="offer-price">@resort.length km tras</span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 offer-features text-right">
                          @for(feature <- resort.features) {
                            @if(feature.isAvailable) {
                              <img src="/assets/icons/@feature.feature.icon" class="icon-feature ml-2">
                              }
                          }
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-1 offer-arrow d-flex align-items-center text-center">
                    <div class="w-100">
                    >
                    </div>
                  </div>
                </div>
                <div class="row row-offer hidden-xl-up">
                  <div class="col-10 col-sm-11">
                    <div class="row">
                      <div class="col-4 col-sm-2 d-flex align-items-center offer-image text-center">
                        <div class="w-100 company-logo">
                        @if(resort.images.size() > 0) {
                          <img src="/resorts/@resort.images(0).path"/>
                        }
                        </div>
                      </div>
                      <div class="col-8 col-sm-10 offer-title d-flex align-items-center">
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              <div class="col-12">
                                @resort.name
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span class="offer-place">
                                  @resort.getCountryName <img class="icon" src="/assets/icons/countries/@resort.country.getFlag">
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="row mt-2">
                          <div class="col-12 offer-dates">
                            <div class="square green"></div>
                            @resort.slopeLengthEasy
                            <div class="square blue"></div>
                            @resort.slopeLengthMedium
                            <div class="square red"></div>
                            @resort.slopeLengthHard
                            <div class="square black"></div>
                            @resort.slopeLengthExpert
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span class="offer-price">@resort.length km tras</span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                          @for(feature <- resort.features) {
                            @if(feature.isAvailable) {
                              <img src="/assets/icons/@feature.feature.icon" class="icon-feature ml-2">
                              }
                          }
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-2 col-sm-1 offer-arrow d-flex align-items-center text-center">
                    <div class="w-100">></div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    }
  </div>
} {

}
