@(resort: api.resort.Resort)
@main {
} {
  @resort.name - @resort.getCountryName - Ośrodek Narciarski
} {
  <div class="container details">
    <div class="row">
      <div class="col-md-3 offset-md-1 col-4">
        <button class="btn btn-neutral btn-default btn-round hidden-md-down" onclick="window.history.back()">
          < Powrót do ośrodków narciarskich</button>
        <button class="btn btn-neutral btn-default btn-round hidden-lg-up" href="#" onclick="window.history.back()">
          < Powrót</button>
      </div>

    </div>


    <div class="row">
      <div class="col-12 text-center resort-title">
        @resort.name <img class="icon" src="/assets/icons/countries/@resort.country.getFlag">
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <div class="partner-label resort straight">
          OŚRODEK NARCIARSKI
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 text-center">
        <div class="square green"></div> @resort.slopeLengthEasy
        <div class="square blue"></div> @resort.slopeLengthMedium
        <div class="square red"></div> @resort.slopeLengthHard
        <div class="square black"></div> @resort.slopeLengthExpert
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 text-center">
        <span class="transport">
          <img class="icon" src="/assets/icons/length.svg">
          @resort.length km
        </span>
        <span class="transport">
          <img class="icon" src="/assets/icons/height.svg">
          @resort.altitude m n.p.m.
        </span>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 text-center">
        @for(feature <- resort.features) {
          @if(feature.isAvailable) {
            <button class="btn btn-feature btn-icon btn-icon-mini btn-round mr-2" data-toggle="tooltip" data-placement="bottom" title="@feature.feature.name">
              <img src="/assets/icons/@feature.feature.icon" class="icon-feature">
            </button>
          }
        }
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="line"></div>
      </div>
    </div>
    <div class="row event-sections">
      <div class="col-12 col-lg-6 left-section">
        <h1>OPIS OŚRODKA</h1>
        <div class="h1-line"></div>
        @resort.description

        <h1 class="mt-3">DOJAZD</h1>
        <div class="h1-line"></div>
        <iframe class="map-top" height="400"
        src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDlqg2aHBqadPPjhOYMOBXPHv25RGhR-xw&origin=Poland&destination=@resort.name,@resort.country" allowfullscreen=""></iframe>
      </div>
      <div class="col-12 col-lg-6 right-section">
        <h1>ZDJĘCIA</h1>
        <div class="h1-line"></div>
        <div id="resortCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
          @for(index <- 0 until resort.images.size()) {
            @if(index == 0) {
              <div class="carousel-item active">
                <img class="d-block img-fluid" src="/resorts/@resort.images(index).path" alt="First slide">
              </div>
            } else {
              <div class="carousel-item">
                <img class="d-block img-fluid" src="/resorts/@resort.images(index).path" alt="First slide">
              </div>
            }
          }
          </div>
          <a class="carousel-control-prev" href="#" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <h1>DODATKOWE INFORMACJE</h1>
        <div class="h1-line"></div>
        <table class="event-section">
          <tr>
            <td class="attribute">Mapa tras</td>
            <td class="value"><a target="_blank" href="/resorts/@resort.mapImage">
              Pokaż mapę tras <img src="/assets/icons/map.svg" class="icon"></a></td>
          </tr>
          @for(feature <- resort.features) {
            <tr>
              <td class="attribute">
                <img src="/assets/icons/@feature.feature.icon" class="icon" />
                @feature.feature.name
              </td>
              <td class="value">
                @if(feature.isAvailable) {
                  <span data-toggle="tooltip" data-placement="right" title="Dostępne" >
                    <img src="/assets/icons/check-mark.svg" class="icon tick" />
                  </span>
                } else {
                  <span data-toggle="tooltip" data-placement="right" title="Niedostępne" >
                    <img src="/assets/icons/cancel-music.svg" class="icon cross" />
                  </span>
                }
              </td>
            </tr>
          }
        </table>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 text-center header">
      Wyjazdy do ośrodka narciarskiego <strong>@resort.name</strong>
    </div>
  </div>
  <events-app static-query="resort_@resort.id">
    <div class="section criteria pt-2 pb-5 text-center details">
      <div class="container">
        <i class="now-ui-icons loader_refresh spin"></i> Przygotowujemy wyjazdy...
      </div>
    </div>
  </events-app>
} {
  <script src="assets/ui/scripts.bundle.js" type="text/javascript"></script>
  <script src="assets/js/discount.js" type="text/javascript"></script>
  <script src="assets/js/mail.js" type="text/javascript"></script>
  <script src="assets/js/svg.js" type="text/javascript"></script>

  @* Built Angular bundles *@
  <script src="@routes.Assets.versioned("ui/scripts.bundle.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("ui/inline.bundle.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("ui/polyfills.bundle.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("ui/vendor.bundle.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("ui/main.bundle.js")" type="text/javascript"></script>
}
