<div class="sidebar-wrapper">
  <div class="logo-wrapper">
    <img src="/assets/img/logo-white.png"/>
  </div>
  <ul class="nav">
    <li (click)="isCollapsed = true"
        class="nav-item" routerLinkActive="active"
        [ngClass]="getMenuItemClasses(menuItems)">
      <a class="nav-item nav-link" routerLink="/events">
        <i class="fa fa-twitter"></i>
        TWOJE WYJAZDY
      </a>
    </li>
    <li (click)="isCollapsed = true"
        class="nav-item" routerLinkActive="active"
        [ngClass]="getMenuItemClasses(menuItems)">
      <a class="nav-item nav-link" routerLink="/monitoring">
        <i class="fa fa-facebook"></i>
        MONITORING
      </a>
    </li>
  </ul>
</div>
